@model DummyBearKingdom.ViewModels.ReviewOnProduct

@{
    ViewData["Title"] = "Dummy Bear Kingdom - Add Review";
    Layout = "_Layout";
}

<h2>Add a new product</h2>
@{ Model.ProductId = Model.CurrentProductId;}
<p>@Model.CurrentProductId</p>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(model => model.ProductId)

    @Html.LabelFor(model => model.Author)
    @Html.TextBoxFor(model => model.Author)

    @Html.LabelFor(model => model.Content)
    @Html.TextBoxFor(model => model.Content)

    @Html.LabelFor(model => model.Rating)
    @Html.TextBoxFor(model => model.Rating)
    <input type="submit" value="Add Review">
}
akdfakdsjf
<p>@Html.ActionLink("Go Back", "Index", "Products")</p>